{% extends 'mainApp/base.html' %}

{% block title %}Update Student{% endblock title %}

{% block body %}

<h2 class="col">Update Student Form</h2>

<div class="container">
  <div class="row">

    <form action="{% url 'UpdateStudent' student.pk %}" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <div>
        <button type="submit" class="btn btn-success">Update</button>
        <a href="{% url 'StudentHome' %}" class="btn btn-default">Cancel</a>
      </div>
    </form>
  </div>
</div>



{% endblock body %}